In [1]:
import pandas as pd
import numpy as np

### Archivo CSV

In [2]:
archivo = 'reto_precios.csv'

df = pd.read_csv(f'{archivo}')

df.head(2)

,main_name,subtitle,link,location,price,attributes,timestamp,id,address,since,...,apartments_per_floor,disposition,parking_lots,floor_situated,orientation,num_bedrooms,department_type,m2,final_price,price_square_meter
0,Departamento - Roma Norte,Departamento en venta,https://departamento.metroscubicos.com/MLM-139...,"Sinaloa 20 , Roma Sur, Roma Sur, Cuauhtémoc, D...",9000000 pesos,"127 m² construidos,2 recs.",2022-03-29,1,"Sinaloa 20 , Roma Sur",Publicado hace 5 días,...,NaN,Contrafrente,2,NaN,NaN,2.0,NaN,127.0,9000000.0,70866.141732
1,Preventa Exclusiva · Terraloza Roma Norte ·,Departamento en venta,https://departamento.metroscubicos.com/MLM-139...,"Tonala, Roma Norte, Cuauhtémoc, Distrito Federal",4264000 pesos,"54 m² construidos,1 rec.",2022-03-29,2,Tonala,Publicado hace 7 días,...,NaN,NaN,1,NaN,NaN,1.0,NaN,54.0,4264000.0,78962.962963

### Datos

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   main_name             981 non-null    object
 1   subtitle              981 non-null    object
 2   link                  981 non-null    object
 3   location              981 non-null    object
 4   price                 981 non-null    object
 5   attributes            981 non-null    object
 6   timestamp             981 non-null    object
 7   id                    981 non-null    int64
 8   address               702 non-null    object
 9   since                 981 non-null    object
 10  description           981 non-null    object
 11  vendor                981 non-null    object
 12  lat                   981 non-null    float64
 13  lon                   981 non-null    float64
 14  price_mod             981 non-null    float64
 15  price_currency        981 non-null    object
 16  since_period          981 non-null    object
 17  since_value           981 non-null    int64
 18  days_on_site          981 non-null    float64
 19  amenities             504 non-null    float64
 20  age_in_years          981 non-null    float64
 21  bathrooms             981 non-null    float64
 22  cellars               52 non-null     float64
 23  num_floors            84 non-null     float64
 24  monthly_fee           128 non-null    object
 25  apartments_per_floor  15 non-null     float64
 26  disposition           20 non-null     object
 27  parking_lots          981 non-null    int64
 28  floor_situated        24 non-null     float64
 29  orientation           8 non-null      object
 30  num_bedrooms          981 non-null    float64
 31  department_type       39 non-null     object
 32  m2                    981 non-null    float64
 33  final_price           981 non-null    float64
 34  price_square_meter    981 non-null    float64
dtypes: float64(15), int64(3), object(17)
memory usage: 268.4+ KB

In [4]:
df.columns

Index(['main_name', 'subtitle', 'link', 'location', 'price', 'attributes',
       'timestamp', 'id', 'address', 'since', 'description', 'vendor', 'lat',
       'lon', 'price_mod', 'price_currency', 'since_period', 'since_value',
       'days_on_site', 'amenities', 'age_in_years', 'bathrooms', 'cellars',
       'num_floors', 'monthly_fee', 'apartments_per_floor', 'disposition',
       'parking_lots', 'floor_situated', 'orientation', 'num_bedrooms',
       'department_type', 'm2', 'final_price', 'price_square_meter'],
      dtype='object')

### Datos únicos

In [5]:
df['id'].nunique()

981

In [6]:
df['age_in_years'].unique()

array([0.])

In [7]:
df['price_currency'].unique()

array(['pesos'], dtype=object)

In [8]:
df['vendor'].nunique()

141

### Filtro columnas

In [9]:
df_filtro = df.copy()
df_filtro = df_filtro[[
    'id',
    'vendor',
    'lat',
    'lon',
    'days_on_site',    
    'bathrooms',
    'parking_lots',
    'num_bedrooms',
    'm2',
    'final_price',
    'price_square_meter'
]]

#### Filtro manual

In [10]:
df_filtro = df_filtro[df_filtro['m2'] < 300]
df_filtro = df_filtro[df_filtro['final_price'] < 20000000]

df_filtro.reset_index(drop=True, inplace=True)

In [11]:
df_filtro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  978 non-null    int64
 1   vendor              978 non-null    object
 2   lat                 978 non-null    float64
 3   lon                 978 non-null    float64
 4   days_on_site        978 non-null    float64
 5   bathrooms           978 non-null    float64
 6   parking_lots        978 non-null    int64
 7   num_bedrooms        978 non-null    float64
 8   m2                  978 non-null    float64
 9   final_price         978 non-null    float64
 10  price_square_meter  978 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 84.2+ KB

In [12]:
df_filtro.head(3)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,price_square_meter
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,70866.141732
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,78962.962963
2,3,Ebranuncios,19.407814,-99.161872,4.0,3.0,2,3.0,163.0,8093500.0,49653.374233

### Almacenamiento

In [13]:
df_almacenamiento = df_filtro.copy()
dir_almacenamiento = 'data/procesado/'
archivo_almacenamiento = 'datos_crudos.csv'
df_almacenamiento.to_csv(f'{dir_almacenamiento}{archivo_almacenamiento}', index=False)
print(archivo_almacenamiento)

datos_crudos.csv